<html>
  <head>
    <title>Project 1 - Phil Darnowsky</title>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js" defer></script>
    <script src="./index.js" defer></script>

    <style type="text/css">
      [v-cloak] {
        display: none;
      }
    </style>
  </head>

  <body>
    <div id="app" v-cloak>
      <p>Let's play a guessing game.</p>

      <p>
        I will think of a number between 1 and 100. You will have 7 chances to
        guess it. I'll help you keep track of your closest low and high guesses.
      </p>

      <div v-if='won'>
        Congratulations! The number was indeed {{target}}.
      </div>
      <div v-else-if='nGuessesRemaining'>
        <p>Guesses remaining: {{nGuessesRemaining}}</p>

        <p v-if='closestLowGuess'>Closest low guess: {{closestLowGuess}}</p>

        <p v-if='closestHighGuess'>Closest high guess: {{closestHighGuess}}</p>

        <form @submit.prevent="makeGuess">
          <input type="text" v-model.number="guess" placeholder="Enter a guess..." />
          <button type="submit">Guess!</button>
        </form>
      </div>
      <p v-else>
        Sorry, you're out of guesses. The target number was {{target}}.
      </p>

      <div>
        <button @click='resetGame'>New game</button>
      </div>
    </div>
  </body>
</html>
